* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body
{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.secs, .mins, .hours, .dot
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%);
    transform-origin: 25% 0;
}

.clock
{
position: relative;
width: 40rem;
height: 40rem;
background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg");
background-position: center;
border:3px solid red;
border-radius: 60%;
background-size: 95%;
background-repeat: no-repeat;
}
.secs 
{
height: 12rem;
width: 0.1rem; 
background-color: red;
}

.mins 
{
    height: 9rem;
    width: 0.3rem; 
    background-color: rgb(26, 255, 0);
}
.hours {
        height: 6rem;
        width: 0.5rem; 
        background-color: rgb(0, 42, 255);
}
.dot {
    height: 1rem;
    width: 1rem; 
    border-radius: 50%;
    background-color: rgb(255, 0, 234);
}
